body {
    font: 20px Garamond, sans-serif;
    color: darkblue; 
}

.navbar {
    background-color: #D1F2EB;
}

.quem-sou {
    background-color: #ffeeac ;
    
}

.hobbies {
    background-color:#FCF3CF;
}

.meus_amigos {
    background-color: lightyellow
}

.margin {
    padding-top: 10px; 
    padding-bottom: 10px;
}

.bgfooter {
    background-color: rgba(253, 151, 114, 0.863);
    color: maroon;
}